<div class="container">

    <div class="linea">
        <h1>
            Cargar tiendas
        </h1>
        <textarea [(ngModel)]="Tiendas">

        </textarea>

        <button id="btn" type="button" class="btn btn-primary" (click)="PutShops()">Cargar</button>
    </div>

    <div class="linea">
        <h1>
            Cargar inventario
        </h1>
        <textarea>

        </textarea>
        <button id="btn" type="button" class="btn btn-primary">Cargar</button>
    </div>
    
    <div class="linea">
        <h1>
            Cargar usuarios
        </h1>
        <textarea>

        </textarea>
        <button id="btn" type="button" class="btn btn-primary">Cargar</button>
    </div>

</div>