<ng-template *ngIf="authenticate; then content else elseBlock"></ng-template>

  <ng-template #content>

    <ul class="nav nav-tabs">
              
      <li class="nav-link"><a data-toggle="tab" href="#home">TIENDAS</a></li>

      <li class="nav-link"><a data-toggle="tab" href="#menu1">PRODUCTOS</a></li>

      <li class="nav-link"><a data-toggle="tab" href="#menu2">CARRITO</a></li>

    </ul>

    <div class="tab-content">

      <div id="home" class="tab-pane fade in active"><!--TIENDAS-->
        
        <div class="container">
          <!--<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
              <div *ngFor="let shop of shops" class="card mb-4 shadow-sm">
                  <div class="card-header">
                  <h4 class="my-0 fw-normal">{{ shop.Nombre }}</h4>
                  </div>
                  <div class="card-body">
                  <img src="{{ shop.Logo }}" class="img-thumbnail" >
                  <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="getProducts(shop.Nombre , shop.Calificacion, shop)">Ingresar</button>
                  </div>
              </div>
          </div>-->

          <div *ngFor="let shop of shops" class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <div class="card-header">
                <h4 class="my-0 fw-normal">{{ shop.Nombre }}</h4>
                </div>
                <div class="card-body">
                <img src="{{ shop.Logo }}" class="img-thumbnail" >
                <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="getProducts(shop.Nombre , shop.Calificacion, shop)">Ingresar</button>
                </div>
            </div>
            </div>
            <div class="col-md-8">
              <div class="scrollarea">
                <div *ngFor="let comment of shop.Comentarios" class="row">
                  <div class="col-md-12">
                    <div class="user">
                      Nombre: {{ comment.Usuario.Nombre }}
                      <button id="SComentar" style="float: right;" (click)="SCommentShop(shop, comment)">Responder</button>
                    </div>
                    <div class="content">
                      {{ comment.Contenido }}
                    </div>

                      <div *ngFor="let scomment of comment.Comentarios" class="row">

                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                          <div class="user">
                            Nombre: {{ scomment.Usuario.Nombre }}
                            <button id="SSComentar" style="float: right;" (click)="SSCommentShop(shop, comment, scomment)">Responder</button>
                          </div>
                          <div class="content">
                            {{ scomment.Contenido }}
                          </div>
                        </div>

                        <div *ngFor="let sscomment of scomment.Comentarios" class="row">

                          <div class="col-md-2"></div>
                          <div class="col-md-10">
                            <div class="user">
                              Nombre: {{ sscomment.Usuario.Nombre }}
                            </div>
                            <div class="content">
                              {{ sscomment.Contenido }}
                            </div>
                          </div>
  
                        </div>

                      </div>

                  </div>
                </div>
              </div>
            
              <div class="down">
                <div class="row">
                  <div class="col-md-9">
                    <input type="text" id="comentario" [(ngModel)]="comment"  style="float: left;" placeholder="Comentario..."> 
                  </div>
                  
                  <div class="col-md-3">
                    <button type="button" id="Comentar" class="btn btn-lg btn-outline-primary" style="float: left;" (click)="CommentShop(shop)">Comentar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
        
      </div>

      <div id="menu1" class="tab-pane fade"> <!--PRODUCTOS-->
        
        <div class="container">
          <!--<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">-->
          <!--<div class="row row-cols-1 row-cols-md-12 mb-3 text-center">-->
            <div *ngFor="let product of products">
              <app-productos [producto]="product" [tienda]="currentShop" [user]="currentUser" (response)="addToCar($event)"></app-productos>
            </div>
          <!--</div>-->
        </div>
      
      </div>
      
      <div id="menu2" class="tab-pane fade"> <!--CARRITO-->
        
        <app-carrito [car]="car"></app-carrito>
        <div class="container">
          <button type="button" id="success" (click)="Buy()" class="btn btn-outline-success">Finalizar compra</button>
        </div>
      </div>

    </div>

  </ng-template>


<ng-template #elseBlock>

  <main class="form-signin" id="Registro">
    <form>
      <h1 class="h3 mb-3 fw-normal">Registrate</h1>
  
      <div class="form-floating">
        <input type="number" class="form-control" [(ngModel)]="newUser.Dpi" name="dpiR" id="floatingInput" placeholder="1111111110101">
        <label for="floatingInput">Dpi</label>
      </div>
      <div class="form-floating">
        <input type="Email" class="form-control" [(ngModel)]="newUser.Correo" name="emailR" id="floatingInput" placeholder="example@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" [(ngModel)]="newUser.Nombre" name="nameR" id="floatingInput" placeholder="Nombres apellidos">
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating">
        <input type="password"  name="passwordR" class="form-control" [(ngModel)]="newUser.Password" id="floatingPassword" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="cuentaR" [(ngModel)]="newUser.Cuenta" id="floatingInput" placeholder="example12">
        <label for="floatingInput">Dpi</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="Register()">Registrarse</button>
    </form>
  </main>

  <main class="form-signin" id="inicio">
    <form>
      <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>
  
      <div class="form-floating">
        <input type="number" [(ngModel)]="aut.Dpi" class="form-control" name="dpi" id="floatingInput" placeholder="1111111110101">
        <label for="floatingInput">Dpi</label>
      </div>
      <div class="form-floating">
        <input type="password" [(ngModel)]="aut.Password" name="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="Autenticar()">Ingresar</button>
    </form>
  </main>

</ng-template>