<div class="card-header">
    <h4 class="my-0 fw-normal">{{ producto.Nombre }}</h4>
  </div>
  <div class="card-body">
    <img src="{{ producto.Imagen }}" class="img-thumbnail" >
    <ul class="list-unstyled mt-3 mb-4">
        <li>Q {{ producto.Precio }}</li>
        <li>Codigo: {{ producto.Codigo }}</li>
        <li>{{ producto.Descripcion }}</li>
        <li><input type="number" max="{{ producto.Cantidad }}" min="1" [(ngModel)]="cantidad" required></li>
    </ul>

    <!--<ng-container *ngIf="{{ producto.Cantidad }}">-->
      <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="addToCar()">Comprar</button>
    <!--</ng-container>-->
  </div>